<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Instructor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Edit Instructor</h2>
    <form th:action="@{/enrollments/update/{id}(id=${enrollment.id})}" th:object="${enrollment}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="studentName">Student Name:</label>
            <input type="text" class="form-control" id="studentName" th:field="*{studentName}" placeholder="Enter student name"/>
            <!-- Display validation error -->
            <p th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}" class="text-danger">Student name is required</p>
        </div>

        <div class="form-group">
            <label for="enrolledCourse">EnrolledCourse:</label>
            <input type="text" class="form-control" id="enrolledCourse" th:field="*{enrolledCourse}" placeholder="Enter enrolledCourse"/>
            <!-- Display validation error -->
            <p th:if="${#fields.hasErrors('enrolledCourse')}" th:errors="*{enrolledCourse}" class="text-danger">enrolledCourse is required</p>
        </div>
        <div class="form-group">
            <label for="enrollmentDate">EnrollmentDate:</label>
            <input type="date" class="form-control" id="enrollmentDate" th:field="*{enrollmentDate}" placeholder="Enter enrollmentDate"/>
            <!-- Display validation error -->
            <p th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{enrollmentDate}" class="text-danger">enrollmentDate is required</p>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
</body>
</html>
